<header data-bs-theme="dark" class="mb-4">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Carousel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <ul class="d-flex">
          {% if app.user %}
              <li class="nav-item">
                  <a href="{{ path('app_profil') }}" class="nav-link" aria-disabled="true">mon Compte</a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_logout') }}" class="nav-link" aria-disabled="true">deconneter</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a href="{{ path('app_login') }}" class="nav-link" aria-disabled="true"> Se Connecter</a>
              </li>
          {% endif %}      
        </ul>
      </div>
    </div>
  </nav>
</header>